table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 50vw;
  font-size: 2rem;
}
#num {
  user-select: none;
}
td,
th {
  text-align: center;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.changeNumSpan {
  cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 800px) {
  table {
    max-width: 100vw;
  }
  .modal {
    width: 100vw !important;
  }
}
.showFilter {
  font-size: 2.5rem;
}
