@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oxanium&display=swap");

.sick {
  text-align: center;
  font-size: 9vw;
  font-family: Oxanium, sans-serif;
  font-weight: bold;
  line-height: 0.875;
}
span {
  text-align: center;
}
body {
  max-width: 100%;
  max-height: 100%;
  background: white;
  color: #dc0000;
}
.sickText {
  margin-top: -30px;
  font-size: 5vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#percentage,
#recoveryRate {
  font-size: 8vw;
  margin-top: none;
  margin-bottom: none;
  font-weight: 750;
  font-family: Oxanium, sans-serif;
  margin-bottom: -30px;
}
.textD {
  font-size: 3vw;
}
@media only screen and (max-width: 800px) {
  #recoveryRate {
    font-size: 16vw;
  }
  .sick {
    font-size: 16vw;
  }
  #percentage {
    font-size: 15vw;
    margin-bottom: 0px;
  }
  .sickText {
    font-size: 7vw;
  }
  .textD {
    font-size: 5vw;
  }
  .github-corner {
    display: none;
  }
  .accordion,
  .panel {
    width: 100% !important;
  }
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
.madeBy {
  padding-top: 50px;
}
@media (prefers-color-scheme: dark) {
  .madeBy {
    color: white !important;
  }
  body {
    background: #000000d8;
    color: #dc0000;
  }
  .panel {
    background: #222f49 !important;
  }
}
.madeBy {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: black;
}
.madeBy > span > a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.madeBy > span > a > img {
  border-radius: 250px;
  width: 25px;
}
.linkbtn {
  margin-top: 5%;
}
